@font-face {
  font-family: "Fell-English";
  src: url("/assets/fonts/im_fell_english_sc/IMFeENsc28P.ttf");
}

@font-face {
  font-family: "pirata-one";
  src: url("/assets/fonts/PirataOne-Regular.ttf");
}

@font-face {
  font-family: "eb-garamond-regular";
  src: url("/assets/fonts/EB_Garamond/static/EBGaramond-Regular.ttf");
}

.font-eb-garamond {
  font-family: "eb-garamond-regular";
}

.font-pirata {
  font-family: "pirata-one";
}

.world-background {
  background: linear-gradient(to bottom, #0a0c14 0%, #0b0d30 100%);
}

.fell-english {
  font-family: "Fell-English";
}

.map-cover {
  background: radial-gradient(
    circle,
    rgba(102, 102, 102, 0) 30%,
    rgba(0, 0, 0, 1) 100%
  );
}

.centered-positioning {
  display: flex;
  justify-content: center;
  align-items: center;
}
